<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abdifatah's Portfolio</title>
    <link rel="website icon"type="jpeg" href="../static/images/webicon.jpeg">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
</head>
<body class="body">

<section class="portfolio">
    <section class="navigation">
        <div class="navdiv">
            <img class="navdivimg" src="../static/images/mlogo.png" alt="Sorry no Image">
        </div>
        <div class="navbtns">
            <button class="navbtn">Home</button>
            <button class="navbtn">About</button>
            <button class="navbtn">Services</button>
            <button class="navbtn">Portfolio</button>
            <button class="navbtn">Contact</button>
        </div>
        <div class="hireme">
            <button class="hire">Hire Me</button>
        </div>

    </section>






    <section class="content-wrapper">
        <div class="content">
            <h1 class="mtitle">Hi I'm Abdifatah Ibrahim</h1>
            <h2 class="mpost">A Junior software developer</h2>
            <p class="mdesc">Why Don't you allow me help you <span>ware</span> you the <span>soft</span> life</p>
            <a href="../static/pdf/AbdifatahIbrahim'sCV.pdf" download><button class="pdfbtn">Download Portfolio</button></a>
            <button class="let-talk">Let's Talk</button>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="me">
            <img class="myimg" src="../static/images/girl.png" alt="This should be Me">
        </div>
    </section>

    <hr>



    <section class="footer">
        <p>copyright2023</p>
    </section>

</section>
</body>
</html>